<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.yuni.client"
      android:versionName="18" android:versionCode="18">
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="com.yuniclient.YuniClient"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <action android:name="android.intent.action.LAUNCHER"></action>
            </intent-filter>
        </activity>
    </application>
   
    <uses-sdk android:minSdkVersion="2" />
</manifest> 